page-home {

}
.balanced-label{
    background-color: rgba(0,128,0,.7);
    color: white;
    display: inline-block;
    line-height: 26px;
    padding: 0px 5px;
    border-radius: 3px;
}
.no-border{
  border:0px !important;
}
ion-app [no-border],
ion-app [no-border] .scroll-content {
  border:0px !important;
}
